@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
</hgroup>

<article>
    <p>
        Electronic book sale system is a one-stop search engine that searches books for sale which could be new or used. The system helps you save time and money by searching every major catalog online, and letting you know which booksellers are offering the best prices and selection. When you find a book you like, you can buy it directly from the original seller. Electronic book sale system is an online marketplace for books. Thousand of new and used books are offered for sale through this system from thousands of booksellers around the world. Readers can find bestsellers, collectors can find rare books, students can find new and used textbooks, and treasure hunters can find long-lost books. The main goal of this system is to help people find and buy any book from any bookseller and our business stretches around the world. The unique inventory of books for sale from booksellers includes the world’s greatest books, countless out-of-print gems, millions of signed books, millions of used copies, a vast selection of college textbooks and new books too.
    </p>

    
</article>

<aside>
    <h3> Best Site For Buying and Selling Books

    </h3>

    <p>30 Million MEMBERS
        </p>
    <p>
        900 Million BOOKS ADDED
    </p>
    <p>
        400 Million COMMENTS
         </p>
    
</aside>