@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @*<h1>@ViewBag.Title.</h1>*@
                <h1>@ViewBag.Message</h1>
            </hgroup>
           <p>
                Our Ebook System is a one-stop search engine that searches books for sale which could be new or used. The system helps you save time and money by 
searching every major catalog online, and letting you know which booksellers are offering the best prices and selection. When you find a book you like, you can 
buy it directly from this site. 
            </p>
        </div>
    </section>
}
<h2 style="color:steelblue;font-weight:bold;">Author Book Lists</h2>
<ol class="round">
    <li class="one">
        <h5>Best Books Ever</h5>
        Best books voted by our users.

        @Html.ActionLink("Learn more", "Index", "Browse")
        <br />
        <table>
            <tr>
               <td>
                    <img src="~/Images/book1.jpg" style="width:100px;"/></td>
                 <td>
                    <img src="~/Images/book2.jpg" style="width:100px;"/></td>
                 <td>
                    <img src="~/Images/book3.jpg" style="width:100px;"/></td>
                <td>
                    <img src="~/Images/book4.jpg" style="width:100px;"/></td>
            </tr>
           
        </table>
    </li>
    <li class="two">
        <h5>Best thriller books</h5>
        Best thriller books voted by our users.
         @Html.ActionLink("Learn more", "Index", "Browse")
    <br />
        <table>
            <tr>
               <td>
                    <img src="~/Images/thriller1.jpg" style="width:100px;"/></td>
                 <td>
                    <img src="~/Images/thriller2.jpg" style="width:100px;"/></td>
                 <td>
                    <img src="~/Images/thriller3.jpg" style="width:100px;"/></td>
               <td>
                    <img src="~/Images/thriller4.jpg" style="width:100px;"/></td>
            </tr>
             </table>
    
    </li>

    

</ol>